<%= link_to "Index Page", events_path %>
<% if user_signed_in? %>
  <%= link_to 'Create event', new_event_path %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
<h1> My Events </h1>
<div>
  <ul>
    <% @my_events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
        <%= button_to 'Edit Event', edit_event_path(event), method: :get %>
        <%= button_to 'Delete Event', event, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to "Create New Events", new_event_path %>
<div>
  <h2> Attended Events </h2>
  <ul>
    <h4> Upcoming Events: </h4>
    <% current_user.attended_events.upcoming_events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
        <%= button_to 'Remove Attendance', event, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>

    <h4> Past Events: </h4>
    <% current_user.attended_events.past_events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %> </li>
    <% end %>
  </ul>
</div>  
