<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Profile", users_path(current_user) %>
  <%= link_to "Create New Events", new_event_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<h1> Events List </h1>
<div>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
      </li>
    <% end %>
  </ul>
</div>
