<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Profile", users_path(current_user) %>
  <%= link_to "Create New Events", new_event_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<h1> Events List </h1>
<div>
  <h2> Attended Events </h2>
    <ul>
      <h4> Past Events: </h4>
      <% Event.upcoming_events.each do |event| %>
        <% if !event.private? || (current_user && event.creator_id == current_user.id) %>
          <li><%= link_to event.name, event_path(event) %> </li>
          <% if current_user %>
            <% if event.creator_id == current_user.id %>
              <%= link_to 'Edit', edit_event_path(event) %>
              <%= link_to 'Delete', event, method: :delete, data: { turbo_confirm: "Are you sure" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <h4> Upcoming Events: </h4>
      <% Event.past_events.each do |event| %>
        <% if !event.private? || (current_user && event.creator_id == current_user.id) %>
          <li><%= link_to event.name, event_path(event) %> </li>
          <% if event.creator_id == current_user.id %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Delete', event, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
</div>