<%= link_to "Index Page", events_path %>
<% if user_signed_in? %>
 <%= link_to "Profile", user_path(current_user) %>
<% end %>
<h1><%= @event.name %> </h1>
<h6>Location: <%= @event.location %></h6>
<h6>Date: <%= @event.date %> </h6>